/*
  References:
  - https://htmlcolorcodes.com/color-chart/
*/

#color-palette {
  width: 1300px;
}

.color {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.pixel {
  height: 25px;
  width: 25px;
  border: 1px solid black;
  display: inline-block;
}

.pixel-line {
  height: 25px;
}